* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {

    font-family: 'IBM Plex Sans', sans-serif;
}
.container-wrapper {
background-color: black;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #0a0a0a43 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

 
.navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent; 
    color: inherit;
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
    
}

.navbar-item.custom-hover:hover{
    background-color: transparent ;
    color: inherit;
}
.navbar-dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-burger {
    font-size: 24px;  
    color: white;  
}

.has-background-dark {
    background-color: #0a0f13c9 !important;
}

.navbar-dropdown.has-background-dark{
    background-color: transparent;
    color: inherit;
}
.navbar-menu.is-active {
    max-height: 80vh;  
    overflow-y: auto;  
}
 
@media screen and (max-width: 1023px){
.navbar-menu {
    background-color: #0a0a0a61;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: 0.5rem 0;
}
}

.neon-text:hover {
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}
.neon-text{
    transition: text-shadow 0.3s ease;
}

.search-title {
    text-shadow: 2px 2px 4px #0a0f13;
    font-size: 2.5em;
}

@media screen and (max-width: 900px){
    .search-title {
        text-shadow: 2px 2px 4px #0a0f13;
        font-size: 2em;
    }
    }
    @media screen and (max-width: 500px){
        .search-title {
            text-shadow: 2px 2px 4px #0a0f13;
            font-size: 1.75em;
        }
        }
.custom-search-bar {
    background-color: #0a0f13c9;
    color: #ffffff;
    box-shadow: 0px 0px 0px #0a0f13, 0px 0px 20px #0a0f13;
    border-color: #0a0f13c9 !important;

}

.custom-search-button {
    background-color: #4c779f90 !important;  
    border-color: #0a0f13c9 !important;
    color: #fff;
    box-shadow: 0px 0px 10px #0a0f13c9, 0px 0px 0px #0a0f13c9;
    margin-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.custom-search-button:hover,
.custom-search-bar:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);  
}
.custom-input::placeholder {
    color: white;  
}
.custom-search-bar::placeholder,
.custom-search-bar,
.custom-search-button {
    color: white;
}
.custom-input,
.custom-search-button {
    color: white;  
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

 

.search-section {
    position: relative;  
    overflow: hidden;  
    height: 70vh;
    
}

.search-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/banner.jpg");
    background-size: cover;
    background-position: center bottom;
    background-position-y: 80%;
    z-index: 0;  
}



 

.search-section {
    position: relative;  
    z-index: 1; 
    display: flex;  
    align-items: center;  
    justify-content: center; 
    min-height: 70vh;  
    padding: 0;  
}
.search-section, h1 {
    color: white;
    
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.movie-poster {
    max-width: 200px; 
    height: auto;
    margin: 20px;
}
.random-section{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #0c1114);
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.random-section h2.title {
    margin-top: 1rem;
    color: white;
    font-size: 2em;
}
.title{
    margin-top: 1rem;
    color: white; 
}


#movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    max-width: 1200px;  

}

.footer {
    background: linear-gradient(to bottom, #0c1114, rgba(0, 0, 0, 0.1));
    color: white;
    padding: 20px;  
    text-align: center;  
     
    height: auto;  
}
.movie-poster:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 1), 0px 8px 20px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section{

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #0c1114);
    height: 90vh;
    

    
}

.about-section h1,
.about-section h2,

 strong{
    color: #4c5cc2;
}

#recentSearchList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);  
    border: 1px solid #ccc;  
    max-height: 150px;  
    overflow-y: auto;  
    z-index: 100; 
    width: 100%; 
}

#recentSearchList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;  
}

#recentSearchList li:last-child {
    border-bottom: none;  
}

.latest-trailers{
height: 40vh;
background: linear-gradient(to bottom, #0c1114, rgba(0, 0, 0, 0.1));
padding: 20px 0;  
overflow-x: scroll;  
white-space: nowrap;  

}

.trailers-container {
display: inline-flex;  
gap: 20px;  

}

#player{
    border-radius: 30px !important;
}