* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {

    font-family: 'IBM Plex Sans', sans-serif;
}
.container-wrapper {
background-color: black;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #0a0a0a43 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

 
.navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent; 
    color: inherit;
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
    
}
.navbar-item.custom-hover:hover{
    background-color: transparent ;
    color: inherit;
}
.navbar-dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-burger {
    font-size: 24px;  
    color: white;  
}

.has-background-dark {
    background-color: #363636e9!important;
}

.navbar-dropdown.has-background-dark{
    background-color: transparent;
    color: inherit;
}
.navbar-menu.is-active {
    max-height: 80vh; /* Set a maximum height for the entire menu */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}
 
@media screen and (max-width: 1023px){
.navbar-menu {
    background-color: #0a0a0a61;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: 0.5rem 0;
}
}

.neon-text:hover {
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
}
.neon-text{
    transition: text-shadow 0.3s ease;
}

.search-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.custom-search-bar {
    background-color: #ffffff46;
    color: #ffffff;
    box-shadow: 0px 0px 10px #000000, 0px 0px 0px #000000;
    border-color: #515151 !important;

}

.custom-search-button {
    background-color: #555 !important;  
    border-color: #515151 !important;
    color: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 0px #2d2d2d;
    margin-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.custom-search-button:hover,
.custom-search-bar:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);  
}
.custom-input::placeholder {
    color: white;  
}

.custom-input,
.custom-search-button {
    color: white;  
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

 

.search-section {
    position: relative;  
    overflow: hidden;  
    height: 100vh;
    
}

.search-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./Images/gravity.jpg");
    background-size: cover;
    background-position: center;
    z-index: 0;  
}

 

.search-section {
    position: relative;  
    z-index: 1; 
    display: flex;  
    align-items: center;  
    justify-content: center; 
    min-height: 100vh;  
    padding: 0;  
}
.search-section, h1 {
    color: white;
    
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.movie-poster {
    max-width: 200px; 
    height: auto;
    margin: 20px;
}
.random-section{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
    height: 100vh;
    overflow-y: scroll;
}

.random-section h2.title {
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    color: white; 
}
#movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;  

}

.footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
    color: white;
    padding: 20px;  
    text-align: center;  
     
    height: auto;  
}
.movie-poster:hover {
    transform: scale(1.1);  
    transition: transform 0.5s ease;  
    cursor: pointer; 
}

.about-section{

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
    height: 90vh;
    overflow-y: scroll;

    
}

.about-section h1,
.about-section h2,

 strong{
    color: #4c5cc2;
}